.home {
    width: 100%;
}


.container-home {
    width: 80%;
    margin: 20px auto;
}


.input-home-movies {
    background-color: black;
    display: grid;
    width: 70%;
    margin-top: 50px;
    grid-template-columns: 80% 20%;
}

.input-home-movies button {
    color: white;
    cursor: pointer;
}


.movies {
    margin-top: 20px;
}
.movies h1 {
    margin-bottom: 10px;
}

.movie img {
    width: 100%;
    min-height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}


.movie .title {
    font-weight: bold;
}
.movie p {
    font-weight: 300;
    font-size: 12px;
}