*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --font-poppins: 'Poppins'
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: var(--font-poppins);
}


button {
  background-color: transparent;
  border: none;
  outline: none;
}

input {
  padding: 10px 13px;
  outline: none;
}